*{
    margin: 0;
    padding: 0;
}
nav{
    height: 50px;
    background-color:rgba(101, 182, 206, 0.555);
    padding: 6px;
    color: antiquewhite;
    display: flex; 
    align-items: center;
    justify-content: end;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li{
    padding: 10px;
}

a{
    text-decoration: none;
    color:darkslategray;
}

a:hover{
    text-decoration: none;
    color: crimson;
}

section{
    min-height: 480px;
    background-color: rgba(173, 252, 255, 0.555);
    color: rgb(26, 75, 77);
    padding: 10px;
    border:rgba(88, 172, 197, 0.795) 2px dotted ;
}

.comando-git{
    padding: 5px;
    font-size: 1.25rem;
    border:rgba(173, 252, 255, 0.555) solid;
    background-color: rgba(0, 139, 139, 0.342);
    color: rgba(74, 204, 198, 0.705);
}
